<html>
  <head>
    <title>SOCKETS</title>
  </head>
  <body>
    <h1>SOCKETS Testing</h1>
    <div class="messages" id="msgs-box">
    </div>
    <input type="text" id="msg-input" />
    <button type="button" id="submit-btn">Send</button>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var msgsBox = document.getElementById('msgs-box');

      var chatBox = document.getElementById('msg-input');
      chatBox.addEventListener('keyup', function(e) {
        if(e.keyCode === 13) {
          submitButton.click();
        }
      });

      var submitButton = document.getElementById('submit-btn');
      submitButton.addEventListener('click', function(e) {
        socket.emit('msg', chatBox.value);
        chatBox.value = '';
      });

      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          socket.emit('connected', {data: 'I\'m connected!'});
      });
      socket.on('notification', function(msg) {
        console.log(msg);
      });
      socket.on('msg', function(msgJson) {
        var json = JSON.parse(msgJson);
        console.log(json);
        var newMsgP = document.createElement('p');
        newMsgP.innerHTML = json.name + ': ' + json.msg;
        msgsBox.append(newMsgP);
      })
    </script>
  </body>
