<html>
  <head>
    <title>{{ room }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="chat-room">
      <h1>{{ room }}</h1>

      <div class="msgs-box" id="msgs-box">
        <ul id="msgs"></ul>
      </div>

      <div class="inputs">
        <input type="text" class="msg-input" id="msg-input" placeholder="Enter your message" />
        <button type="button" class="submit-btn" id="submit-btn">Send</button>
      </div>

      <div class="misc">
        <span class="logged-in-as">Logged in as <span id="username">{{ name }}</span></span>
        <button type="button" id="leave-btn" class="danger">Leave Room</button>
      </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app-vanilla.js') }}"></script>
  </body>
